body {
  /* display: block; */
  margin: 0px;
  font-family: 'Effra', sans-serif;
  /* display: flex;
  margin: 0 auto;
  position: absolute;
  justify-content: center;
  align-items: center; */
}


/*Navbar*/
.navbar {
  max-width: 1440px;
  margin: 0 auto;
}

.navbar-content {
  background-color: rgba(0, 0, 0, 0.2);
  width: 1440px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
}

.navbar-logo {
  display: flex;
}

.navbar-logo img {
  height: 40px;
  margin-left: 80px;
  padding-top: 12px;
}

.navbar-logo p {
  color: #FFFFFF;
  margin-left: 15px;
  /* height: 25px; */
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
}

.list-items ul {
  display: flex;
  list-style-type: none;
  padding-right: 13px;
}

.list-items li {
  padding: inherit;
}

.list-items a,
.login-register a {
  text-decoration: none;
  color: #FFFFFF;
}

.login-register a {
  margin-right: 56px;
}

.login-register button {
  border: none;
  border-radius: 50px;
  height: 38px;
  width: 108px;
  margin-right: 80px;
}

/*Banner*/
.banner {
  background-image: url("https://i.ibb.co/4SwGstp/Bg-hero.png");
  height: 790px;
  /*   max-width: 1440px;
  margin: 0 auto; */
  background-size: cover;
  overflow: hidden;
}

.banner-text {
  text-align: center;
  top: 20%;
  position: relative;
}

.banner-text h1 {
  color: white;
  font-size: 72px;
  margin-bottom: 25px;
}

.banner-text p {
  color: #8B8B8B;
  font-size: 18px;
  line-height: 150%;
}

.banner-btn {
  background-color: #A8FF35;
  border: none;
  border-radius: 50px;
  height: 38px;
  width: 135px;
  margin-top: 20px;
}

.banner-btn a {
  color: #000000;
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}

/*Tabs Section*/

.tabs-section {
  background-color: #A8FF35;
  height: 650px;
  text-align: center;
  /*   max-width: 1440px;
  margin: 0 auto; */
}

.tabs-content {
  padding-top: 100px;
}

.tabs-header {
  font-size: 30px;
}

.rectangle {
  height: 150px;
  width: 380px;
  background-color: #FFFFFF;
  margin: 0 auto;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container {
  position: relative;
  display: flex;
  align-items: center;
  height: 65px;
  border: none;
  border-radius: none;
  background: black;
  color: white;
  padding: 9px 20px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

.button-container img {
  height: 20px;
  margin-right: 10px;
}

.fader {
  width: 65px;
  height: 65px;
  background: linear-gradient(270deg, #030303 53.65%, rgba(3, 3, 3, 0.6) 100%);

  /* background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1)); */
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs-p {
  margin-top: 50px;
  line-height: 1.5;
}

/*FT Benefits Section*/

.benefits-section {
  height: 1300px;
  text-align: center;
  max-width: 1440px;
  margin: 0 auto;
}

.benefits-text {
  display: inline-block;
  text-align: left;
}

.benefits-text h1 {
  font-size: 45px;
  padding-left: 100px;
  padding-top: 100px;
}

.text-padding {
  padding-bottom: 120px;
}

.benefits-text span {
  color: #ADADAD;
}

.company-logos .row {
  padding-left: 0px;
  justify-content: center;
}

.company-logos ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.rectangle-background {
  background-color: #F5F5F5;
  margin-right: 20px;
  width: 214px;
}

.rectangle-background img {
  height: 30px;
  padding: 30px;
}

#smaller-logo img {
  height: 20px;
}

/*Platform Connect Section*/
.connect-section {
  height: 1650px;
  background-color: #FAFAFA;
}

.connect-content {
  max-width: 1440px;
  margin: 0 auto;
}

.connect-content ul {
  list-style-type: none;
}

.connect-content h1 {
  font-size: 45px;
  text-align: center;
  padding-top: 8%;
}

.connect-content ul {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2%;
  margin-left: 10%;
  margin-right: 15%;
}

.square {
  height: 80px;
  width: 80px;
  background-color: #FFFFFF;
  border-radius: 8px;
}

#green-square {
  background-color: #A8FF35;
}

.logo-height img {
  height: 50px;
  text-align: center;
  margin: 16px;
}

.tweets {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-top: 4%;
}

.center-btn {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.connect-btn {
  background-color: #000000;
  border: none;
  border-radius: 50px;
  height: 45px;
  width: 155px;
  margin-top: 18px;
  text-align: center;
}

.connect-btn a {
  color: #FFFFFF;
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}

/*Best Deal Section*/

.best-deal-section {
  height: 900px;
  background-color: #000000;
}

.deal-content {
  max-width: 1440px;
  margin: 0 auto;
}

.deal-content h1 {
  margin-top: 0px;
  font-size: 45px;
  color: #FFFFFF;
  padding-top: 8%;
  text-align: center;
}

h3 {
  color: #FFFFFF;
  margin: 5px;
  margin-right: 30px;
  margin-left: 30px;
}

h3 span {
  color: #8B8B8B;
  ;
}

.btn-background {
  border: none;
  border-radius: 50px;
  height: 40px;
  width: 80px;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #A8FF35;
  border-radius: 50%;
  display: inline-block;
  margin-right: 45px;
}

.items-flex {
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  padding-left: 65px;
  justify-content: space-evenly;
}

#row-margin {
  margin: 40px;
}

.column {
  width: 25%;
  padding: 20px;
  border-radius: 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.column h2 {
  margin-bottom: 0px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.line {
  height: 1px;
  background: #ADADAD;
  max-width: 100%;
}

p span {
  font-size: 40px;
  font-weight: bold;
}

.checkmark:before {
  content: "\2713";
  /* Unicode character for checkmark */
  /*   font-family: Arial, sans-serif; */
  /* Use a font that includes the checkmark symbol */
  color: #000000;
  /* Change the color of the checkmark */
  margin-right: 5px;
  /* Add some space between the checkmark and the text */
}

.deal-list ul {
  list-style-type: none;
  padding-left: 4px;
  line-height: 35px;
}

.btn-end {
  display: flex;
}

.green-button {
  background-color: #A8FF35;
  border: none;
  border-radius: 50px;
  height: 40px;
  width: 320px;
}

.black-button {
  background-color: #000000;
  border: none;
  border-radius: 50px;
  height: 40px;
  width: 320px;
  color: white;
}

#green-col {
  background-color: #A8FF35;
}

/*Join Now Section*/

.join-content {
  height: 450px;
  background-color: #A8FF35;
  text-align: center;
}

.join-content h1 {
  margin-top: 0px;
  padding-top: 150px;
  font-size: 55px;
}

.join-content span {
  color: #87D322;
}

.join-btn {
  background-color: #000000;
  color: #FFFFFF;
  border: none;
  border-radius: 50px;
  height: 45px;
  width: 140px;
}

/*Footer*/

.footer-content {
  background: #FFFFFF;
  height: 75px;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.footer-logo {
  display: flex;
}

.footer-logo p {
  color: #000000;
  margin-left: 15px;
  /* height: 25px; */
  font-size: 20px;
}

.footer-logo img {
  height: 40px;
  margin-left: 80px;
  padding-top: 12px;
}

.footer-items {
  padding-left: 560px;
}

.footer-items ul {
  display: flex;
  list-style-type: none;
  justify-content: end;
  margin: 23px;
}

.footer-items li {
  padding: inherit;
}

.footer-items a {
  text-decoration: none;
  color: #000000;
}